<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg">
    <!--TODO: MODIFY THIS TO /style.css IN PRODUCTION-->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/blog-style.css">
    <title>{{ title }} | Dylan Park - Systems Engineering & IT</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="hero">
                <div class="hero-content">
                    <h1>Dylan Park | Blog</h1>
                    <div class="subtitle">Technical insights and experiences</div>
                    <hr>
                    <div class="tagline">Sharing knowledge about systems engineering, development, and infrastructure</div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>